{#
/**
 * @file equipes_entity.html.twig
 * Default theme implementation to present Equipes entity data.
 *
 * This template is used when viewing Equipes entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_equipes_entity()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('equipes_entity') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
